/* Bootstrap Visualization Dashboard - CSS Style Sheet */

/* Body */
body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-white-cloud-on-blue-sky-weather-background-design-image_410046.jpg");
  background-color: rgb(107, 149, 211);
  height: 850px;
  background-position: centr;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.navbar {
  max-height: 60px;
}
.navigation .navbar-brand {
  color:black;
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  background-color: lightslategrey
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: lightslategrey;
  font-size: 25px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover {
  background-color: lightslategrey !important;
}
.dropdown-item {
  color: #213159 !important;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: white !important;
}

.nav-link:hover {
  background-color:#E7E7E7 !important;
 }

.navbar-brand:hover {
color: rgb(160, 160, 160) !important;
}

a {
  color: #E7E7E7;
  font-size: 15px;
}

/* Images */
img{
  width:100% !important;
  height:100% !important;
}
.active, .panel:hover {
  border-color:#213159;
  border-style: solid;
  
}
.vizualization {
  width:50% !important;
  height:50% !important;
}

/* Title */
.title {
  color: #0f50b9;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
}

/* Paragraph */
p {
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

/* Box */
.box {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 10px 30px 10px;
  color: #213159;
  background-color: white;

}
/* Table */
.table {
  font-size: 15px;
  border-top-color: white !important;
}

/* Footer */
footer {
background-color: #7f96d1;
border-top-style: solid;
border-top-width: 5px;
border-top-color: #6dbcdb;
color: white;
min-height: 60px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px;
}